*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;

}
body{
    background: url();
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
}
.logo{
   color:white;
    font-size: 17px;
    padding-left: 20px;
}
header{
    position:fixed;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    background:#545E75;
    font-family: league system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 
.nav a{
    display:inline-block;
    font-size: 20px;
    padding: 25px 10px;
    padding-right: 30px;
    margin-right: 30px;   
    color:white;
    text-decoration: none;
    
}
.nav a:hover{
    color:#F2D0A4;
}
.container{
    color:#313f5e;
    background: url(back2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100vh;
    padding: 20px;  
    font-family: league system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container h2{
    font-size: 38px;
    margin:20px;
}
.container h1{
    font-size: 38px;
    margin:20px;
}
.container p{
    font-size: 35px;
    margin:20px;
}
.abt{
    height:100vh;
    padding-top: 40px;
    color:black;
    background-color: #ddd;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-family: league system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.h{
    color:#0b51e8;
}
.myimg{
    width:500px;
    height: 400px;
    float:right;   
    border-radius: 100px;
}
.abt h1{
    font-size: 35px;
    padding:20px;
}
.abt h2{
    font-size:30px ;
    padding:20px;
}
.abt p{
    font-size:30px;
    padding:20px;
}

.bar{
    width:40%;
    background-color: whitesmoke;
    
    border-radius: 20px;
}
.skill{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: right;
}
.html{
    width: 80%;
    background-color: #313f5e;;
    border-radius: 20px;
    padding-right: 10px;
}
.css{
    width:50%;
    background-color: #313f5e;;
    border-radius: 20px;
    padding-right: 10px;
}
.java
{
    width:40%;
    background-color: #313f5e;;
    border-radius: 20px;
    padding-right: 10px;
}
.skillbar{
   text-align: center;
   color: #313f5e;
   margin-bottom: 100px;
   font-size: 35px;
}
.skills{
    color:#313f5e;
}
.skill-head{
    height:100vh; 
    background-color: #F2D0A4;
}
.main{
    height:100vh;
    display:flex;
   flex-direction: column;
   justify-content: center;
   font-family: league system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.skill h2{
    color: #313f5e;
    padding-right: 400px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.con{
    height:40vh;
    color:black;
    background-color:#ddd;
    font-family: league system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.boxicons {
    display: flex;
    justify-content: space-evenly;
}
.boxicons span{
 padding:10px;
}
.box{
    height:40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #ddd;

}
.me{
    padding: 20px;
    color:#313f5e;
}